<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>dream</display-name>

    <!-- Spring context -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:dream-context.xml, classpath:dream-mybatis.xml</param-value>
    </context-param>

    <!-- 此Listener 用于加载 除 *-servlet.xml 文件以外的xml，并且在 contextConfigLocation 路径中已经定义 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>dream</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:dream-servlet.xml</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dream</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--<servlet-mapping>-->
        <!--<servlet-name>default</servlet-name>-->
        <!--<url-pattern>*.png</url-pattern>-->
        <!--<url-pattern>*.js</url-pattern>-->
        <!--<url-pattern>*.css</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>
